# share variables between macros
# can be accessed via {printer["gcode_macro _VOICE_PROFILE"].VARIABLE_NAME}
# can be set with SET_GCODE_VARIABLE MACRO=_VOICE_PROFILE VARIABLE=VARIABLE_NAME VALUE=NEW_VALUE
[gcode_macro _VOICE_PROFILE]
variable_base_path: "/home/pi/printer_data/config/audio/"
variable_profile: "ivy/"
gcode:


[gcode_shell_command _PLAY_AUDIO]
command: aplay


[gcode_macro _PLAY_FILE]
description: Play audio file
gcode:
    {% set file = params.FILE|default("")|string %}
    {% set base_path = printer["gcode_macro _VOICE_PROFILE"].base_path %}
    {% set profile = printer["gcode_macro _VOICE_PROFILE"].profile %}

    RUN_SHELL_COMMAND CMD=_PLAY_AUDIO PARAMS={base_path}{profile}{file}


[gcode_macro SWITCH_VOICE_PROFILE]
description: Switch voice profile
gcode:
    {% set _profile = params.PROFILE|default("ivy")|string %}
    {% set profile_map = {'ivy': '"ivy"', 'whitecul': 'whitecul/'} %}

    {% if _profile not in profile_map %}
        { action_raise_error("Unknown voice profile '%s'." % _profile) }
    {% else %}
        {% set new = profile_map[_profile] %}
        SET_GCODE_VARIABLE MACRO=_VOICE_PROFILE VARIABLE=profile VALUE={new}
    {% endif %}


[gcode_macro _PLAY_SAMPLE]
description: Play sample audio file
gcode:
    RUN_SHELL_COMMAND CMD=_PLAY_AUDIO PARAMS=/home/pi/printer_data/config/audio/sample.wav
