[delayed_gcode _NEVERMORE_OFF]
initial_duration: 0
gcode:
    SET_FAN_SPEED FAN=nevermore SPEED=0
    { action_respond_info("Turned off Nevermore fan via timer.") }


[delayed_gcode _EXHAUST_FAN_OFF]
initial_duration: 0
gcode:
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0
    { action_respond_info("Turned off exhaust fan via timer.") }


[gcode_macro RUN_FAN_TIMER]
description: "Spins a fan and schedules it to turn off. Non-blocking."
gcode:
    {% set fan = params.FAN|default("none")|string %}
    {% set duration = params.DURATION|default(10)|int %}
    {% set speed = params.SPEED|default(100)|int %}
    
    # --- Map fan names to their delayed_gcode handlers ---
    {% set fan_map = {'nevermore': '_NEVERMORE_OFF', 'exhaust_fan': '_EXHAUST_FAN_OFF'} %}

    {% if fan not in fan_map %}
        { action_raise_error("Fan '%s' is not configured for timed operation." % fan) }
    {% else %}
        {% set speed_float = speed / 100.0 %}
        {% set handler_id = fan_map[fan] %}

        { action_respond_info("Activating fan '%s' at %d%% for %d seconds." % (fan, speed, duration)) }
        
        # 1. Turn the fan ON
        SET_FAN_SPEED FAN={fan} SPEED={speed_float}
        
        # 2. Schedule the corresponding handler to run after DURATION seconds
        UPDATE_DELAYED_GCODE ID={handler_id} DURATION={duration}
    {% endif %}