[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
# Reference(cartographer): https://docs.cartographer3d.com/cartographer-probe/installation-and-setup/installation/print-start-macro
gcode:
    {% set BED_TEMP = params.BED|default(100)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(255)|float %}
    {% set CARTOGRARPHER_CALIBRATE_TEMP = 150|float %} # maximum tem

    M140 S{BED_TEMP}                     # ベッド温度セット
    M104 S{CARTOGRARPHER_CALIBRATE_TEMP} # Set extruder temperature to maximum temperature for cartographer to calibrate
    M190 S{BED_TEMP}                     # ベッド1stレイヤ温度到達待機
    G32                                  # Homing all axes and Gantry levelling
    #M109 S{ printer.extruder.target }   ##Restore print head temperature <- this would turn off the extruder heater. dont use this.
    G90                                  # Specify absolute coordinate
    G92 E0                               # Reset Extruder
    BED_MESH_CALIBRATE
    CARTOGRAPHER_TOUCH                   # Perform touch probe
    M104 S{EXTRUDER_TEMP}
    M109 S{EXTRUDER_TEMP}                # Set and wait forextruder temprature to the print temperature

    # draw purge line
    M82                                 # absolute extrusion: the E values below
                                        # are cumulative. If the slicer's start
                                        # gcode left M83 active they would purge
                                        # 17+32=49mm instead of 32mm.
    G92 E0
    G1 Z20 F3000                        # Move Z Axis up
    G1 X10.1 Y20 Z0.28 F5000.0          # Move to start position
    G1 X10.1 Y200.0 Z0.28 F1500.0 E17   # Draw the first line
    G1 X10.4 Y200.0 Z0.28 F5000.0       # Move to side a little
    G1 X10.4 Y20 Z0.28 F1500.0 E32      # Draw the second line

    BED_MESH_PROFILE LOAD="default"  # set bed mesh profile
    G92 E0                           # Reset Extruder
    G90                              # Make sure to set absolute coordinates