[gcode_macro UNLOAD_FILAMENT]
gcode:
   {% if (not(printer.idle_timeout.state == "Printing") or printer.pause_resume.is_paused) %}
      SAVE_GCODE_STATE NAME=UNLOAD_state
      
      M117 Start unloading filament..

      # heat up extruder to 250C
      M104 S250 ; set extruder temperature to 250C
      M109 S250 ; wait for extruder temperature to reach 250C
      ; notify user with sound
      
      # cut filament
      G28 ; home all axes
      G1 X10 Y29 ; move to filament cutter
      G1 X0 F500 ; cut filament
      ; slowly retract a bit
      G1 X10 Y29 ; move back to initial position

      # unload filament
      G1 E-125 F1200                 ; fast retract all filament
      M117 Filament unloaded

      UPDATE_DELAYED_GCODE ID=SCHEDULE_CLEAR_SCREEN DURATION=5
      RESTORE_GCODE_STATE NAME=UNLOAD_state
   {% else %}
      { action_respond_info("Filament unloading disabled while printing!") }
   {% endif %}