#####################################################################
# 	Fan Control
#####################################################################


[heater_fan controller_fan]
##	Controller fan - CNC_FAN2
pin: PD12
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5
cycle_time: 0.020
heater: heater_bed
heater_temp: 45.0
fan_speed: 1.0

[fan_generic exhaust_fan]
##	Exhaust fan - CNC_FAN3
pin: PD13
max_power: 1.0
off_below: 0.1
##   NOTE: this forces any SPEED below 0.1 to 0. The plan to run the exhaust
##   continuously at a very low speed during printing (slight negative
##   pressure, so leaks flow inward instead of venting unfiltered air) needs
##   this lowered to ~0.03 first. See NOTES.md section 1.2 - the chamber
##   sensor has to be in place before the temperature cost can be measured.
kick_start_time: 1.0

[fan_generic nevermore]
pin: PB0
max_power: 1.0
off_below: 0.1
kick_start_time: 0.5
cycle_time: 0.020