[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_BASE
gcode:
    # Purple
    _OVERRIDE_CHAMBER_LED_START RED=0.5 GREEN=0.1 BLUE=0.5
    BED_MESH_CALIBRATE_BASE {rawparams}
    _OVERRIDE_CHAMBER_LED_END