[gcode_macro G28]
# i wanted to name this G28_BASE but klipper macro dosen't allow the name contains numbers not in the last.
rename_existing: G0028
gcode:
    # Orange
    _OVERRIDE_CHAMBER_LED_START RED=1.0 GREEN=0.5 BLUE=0.1
    G0028_BASE {rawparams}
    _OVERRIDE_CHAMBER_LED_END