[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
    # Light blue
    _OVERRIDE_CHAMBER_LED_START RED=0.0 GREEN=0.7 BLUE=1.0
    QUAD_GANTRY_LEVEL_BASE {rawparams}
    _OVERRIDE_CHAMBER_LED_END