# share variables between macros
# can be accessed via {printer["gcode_macro _CHAMBER_LED_STATE"].VARIABLE_NAME}
# can be set with SET_GCODE_VARIABLE MACRO=_CHAMBER_LED_STATE VARIABLE=VARIABLE_NAME VALUE=NEW_VALUE
[gcode_macro _CHAMBER_LED_STATE]
variable_is_enabled: 0
variable_override_count: 0
gcode:


[gcode_macro _SET_CEILING_LED]
description: "Set the chamber celling led"
gcode:
    {% set red = params.RED | float %}
    {% set green = params.GREEN | float %}
    {% set blue = params.BLUE | float %}

    SET_LED LED=ceiling_led_l RED={red} GREEN={green} BLUE={blue}
    SET_LED LED=ceiling_led_r RED={red} GREEN={green} BLUE={blue}


[gcode_macro _APPLY_TOGGLE_CHAMBER_LED]
gcode:
    {% if printer["gcode_macro _CHAMBER_LED_STATE"].override_count > 0%}
    {% else %}
        {% if printer["gcode_macro _CHAMBER_LED_STATE"].is_enabled == 0 %}
            _SET_CEILING_LED RED=0.0 GREEN=0.0 BLUE=0.0 
        {% else %}
            _SET_CEILING_LED RED=0.70 GREEN=0.70 BLUE=0.70 
        {% endif %}
    {% endif %}


[gcode_macro TOGGLE_CHAMBER_LED]
description: "Toggle the chamber led"
gcode:
    {% if printer["gcode_macro _CHAMBER_LED_STATE"].is_enabled == 0 %}
        {% set new_val = 1 %}
    {% else %}
        {% set new_val = 0 %}
    {% endif %}
    SET_GCODE_VARIABLE MACRO=_CHAMBER_LED_STATE VARIABLE=is_enabled VALUE={new_val}

    {% set count = printer["gcode_macro _CHAMBER_LED_STATE"].override_count %}
    {% if count == 0 %}
        _APPLY_TOGGLE_CHAMBER_LED
    {% else %}
        {action_respond_info("Toggle chamber led would take effect later.")}
    {% endif %}


[gcode_macro _OVERRIDE_CHAMBER_LED_START]
gcode:
    {% set red = params.RED | float %}
    {% set green = params.GREEN | float %}
    {% set blue = params.BLUE | float %}

    {% set count = printer["gcode_macro _CHAMBER_LED_STATE"].override_count %}
    {% set count = count + 1 %}
    _SET_CEILING_LED RED={red} GREEN={green} BLUE={blue} 
    SET_GCODE_VARIABLE MACRO=_CHAMBER_LED_STATE VARIABLE=override_count VALUE={count}


[gcode_macro _OVERRIDE_CHAMBER_LED_END]
gcode:
    {% set count = printer["gcode_macro _CHAMBER_LED_STATE"].override_count %}
    {% set count = count - 1 %}
    SET_GCODE_VARIABLE MACRO=_CHAMBER_LED_STATE VARIABLE=override_count VALUE={count}

    {% if count == 0 %}
        _APPLY_TOGGLE_CHAMBER_LED
    {% endif %}