#[bed_mesh] # for  conductive prove
#speed: 300
#horizontal_move_z: 10
##	Uncomment for 350mm build
#mesh_min: 40, 40
#mesh_max: 310,310
#zero_reference_position: 175,175 #for use with stock z endstop
#fade_start: 0.6
#fade_end: 10.0
#probe_count: 5,5 # Values should be odd, so one point is directly at bed center
#algorithm: bicubic


[bed_mesh] # for cartographer
zero_reference_position: 175, 175    
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 30,10
#    start point of bed mesh [X, Y]
mesh_max: 320,290
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic